input{
    background-color:transparent;
    margin: 2%;
    height: 30px;
}
button{
    margin: 1%;
   
}
body{
    margin-top: 10%;
    text-align: center;
    background-color: blanchedalmond;
    font-size: xx-large;
}